<a href="https://colab.research.google.com/github/LeMagnifiq/Suleyman-Portfolio/blob/main/Netflix_Data_Cleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Load the data
df = pd.read_csv('/content/drive/MyDrive/Netflix/NetFlix.csv')

In [ ]:
# Check the first few rows of the DataFrame
print(df.head(5))

  show_id     type                                      title        director  \
0      s1  TV Show                                         3%             NaN
1     s10    Movie                                       1920    Vikram Bhatt
2    s100    Movie                                 3 Heroines  Iman Brotoseno
3   s1000    Movie  Blue Mountain State: The Rise of Thadland    Lev L. Spiro
4   s1001  TV Show                             Blue Planet II             NaN

                                                cast         country  \
0  João Miguel, Bianca Comparato, Michel Gomes, R...          Brazil
1  Rajneesh Duggal, Adah Sharma, Indraneil Sengup...           India
2  Reza Rahadian, Bunga Citra Lestari, Tara Basro...       Indonesia
3  Alan Ritchson, Darin Brooks, James Cade, Rob R...   United States
4                                 David Attenborough  United Kingdom

  date_added  release_year rating  duration  \
0  14-Aug-20          2020  TV-MA         4
1  15-Dec-17          2008  TV-MA       143
2  05-Jan-19          2016  TV-PG       124
3  01-Mar-16          2016      R        90
4  03-Dec-18          2017   TV-G         1

                                              genres  \
0  International TV Shows, TV Dramas, TV Sci-Fi &...
1     Horror Movies, International Movies, Thrillers
2        Dramas, International Movies, Sports Movies
3                                           Comedies
4  British TV Shows, Docuseries, Science & Nature TV

                                         description
0  In a future where the elite inhabit an island ...
1  An architect and his wife move into a castle t...
2  Three Indonesian women break records by becomi...
3  New NFL star Thad buys his old teammates' belo...
4  This sequel to the award-winning nature series...

In [ ]:
# Check for missing values
print(df.isnull().sum())

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
genres             0
description        0
dtype: int64

In [ ]:
# Fill missing 'director', 'cast', and 'country' information with 'Unknown'
df[['director', 'cast', 'country']] = df[['director', 'cast', 'country']].fillna('Unknown')

In [ ]:
# For 'date_added', drop missing values
df = df.dropna(subset=['date_added'])

In [ ]:
# For 'rating', Replace missing values with the most frequent rating
most_common_rating = df['rating'].value_counts().idxmax()
df['rating'] = df['rating'].fillna(most_common_rating)

In [ ]:
# Check for missing values again
print(df.isnull().sum())

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
genres          0
description     0
dtype: int64

In [ ]:
# Convert 'genres' to a list of genres
df['genres'] = df['genres'].apply(lambda x: x.split(", "))

In [ ]:
df.duplicated().sum()

0

In [ ]:
print(df.head(5))

  show_id     type                                      title        director  \
0      s1  TV Show                                         3%         Unknown
1     s10    Movie                                       1920    Vikram Bhatt
2    s100    Movie                                 3 Heroines  Iman Brotoseno
3   s1000    Movie  Blue Mountain State: The Rise of Thadland    Lev L. Spiro
4   s1001  TV Show                             Blue Planet II         Unknown

                                                cast         country  \
0  João Miguel, Bianca Comparato, Michel Gomes, R...          Brazil
1  Rajneesh Duggal, Adah Sharma, Indraneil Sengup...           India
2  Reza Rahadian, Bunga Citra Lestari, Tara Basro...       Indonesia
3  Alan Ritchson, Darin Brooks, James Cade, Rob R...   United States
4                                 David Attenborough  United Kingdom

  date_added  release_year rating  duration  \
0  14-Aug-20          2020  TV-MA         4
1  15-Dec-17          2008  TV-MA       143
2  05-Jan-19          2016  TV-PG       124
3  01-Mar-16          2016      R        90
4  03-Dec-18          2017   TV-G         1

                                              genres  \
0  [International TV Shows, TV Dramas, TV Sci-Fi ...
1   [Horror Movies, International Movies, Thrillers]
2      [Dramas, International Movies, Sports Movies]
3                                         [Comedies]
4  [British TV Shows, Docuseries, Science & Natur...

                                         description
0  In a future where the elite inhabit an island ...
1  An architect and his wife move into a castle t...
2  Three Indonesian women break records by becomi...
3  New NFL star Thad buys his old teammates' belo...
4  This sequel to the award-winning nature series...

In [ ]:
# Save the cleaned DataFrame to a new csv file
df.to_csv('Netflix_Clean.csv', index=False)